@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
body{
    background-color: hsl(212, 45%, 89%);
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(0, 0, 0);
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 375px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
img{
    width: 100%;
    border-radius: 20px;
}
h2{
    color: hsl(220, 15%, 55%);
}